
<div class="container">

    <div class="row">
        <div class="col-6">
            <ul class="post-list">

                {% for post in site.posts %}
                    {% include post_preview.md post=post %}
                {% endfor %}

            </ul>

            <div class="show_more">
                <a href="/projects/all">
                    Show All
                </a>
            </div>

        </div>
    </div>
    
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
