<header role="banner">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <div class="container">
        <h1 class="font-weight-light">
            {{ site.title | escape }}
        </h1>

        <!-- <h4 class="font-weight-light">
             {{ page.title }}
             </h4> -->
    </div>

    <nav>
        <ul>
            {% for nav in site.navigation %}
                {% assign navPage = nav | downcase %}
                {% assign pagePage = page.page | downcase %}
                <li class="{% if navPage == pagePage %}active{% endif %}">
                    <a href="/{{ nav | downcase }}">
                        <h4 class="font-weight-light">
                            {{ nav }}
                        </h4>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>
